/* --- --- --- Our styles. */
.gz-hyperlink {
	text-decoration: underline;
	color: #808090;
	border-color: #808090;
}
.gz-hyperlink:hover {
	color: #616161;
	border-color: #616161;
}
.gz-input-label {
	color: #616161;
	font-weight: 700;
}
.gz-no-top-margin {
	margin-top: 0;
}
/* --- --- --- End of our styles. */


/* --- --- --- Foundation overrides. */
.button {
	font-weight: 700;
}
.button.success {
	color: white;
	background-color: #4CAF50;
}
.button.success:hover {
	color: white;
	background-color: #388E3C;
}
.button.hollow.secondary {
	color: #808090;
	border-color: #808090;
}
.button.hollow.secondary:hover {
	color: #616161;
	border-color: #616161;
} 
/* End of Foundation overrides. */

/* --- --- --- Our styles. */
.gz-hyperlink {
	text-decoration: underline;
	color: #808090;
	border-color: #808090;
}
.gz-hyperlink:hover {
	color: #616161;
	border-color: #616161;
}
.gz-input-label {
	color: #616161;
	font-weight: 700;
}
.gz-no-top-margin {
	margin-top: 0;
}
.gz-nav-bar {
	background-color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7d7d7d;
	padding-left: 10%;
	padding-right: 10%;
	-webkit-box-shadow: 0 0px 8px -1px #7d7d7d;
	-moz-box-shadow: 0 0px 8px -1px #7d7d7d;
	box-shadow: 0 0px 8px -1px #7d7d7d;
}
.gz-nav-bar .menu {
	background-color: white;
}
.gz-text-font {
	font-family: "Verdana";
	font-style: italic;
	font-size: 24px;
	color: #666565!important;
}
#main-page-image {
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	background: url(../images/main-page-cover-16-9.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	width: 94vw;
	height: 60vh;
}
.gz-section-title {
	margin-top: 3%;
	color: #666565;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #666565;
}
.gz-section-title > h1 {
	font-family: "Palatino Linotype";
}
.gz-product-list {
	margin-top: 4%;
	font-style: italic;

}
.gz-product-image {
	background-position: center;
	width: auto;
	height: 40vh;
}
.gz-product-name {
	text-align: center;
	font-weight: bold;
	font-family: "Georgia";
	font-size: 18px;
	color: #7d7d7d;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7d7d7d;
}
.gz-product-price {
	text-align: center;
	font-style: italic;
}
.product-item {
	margin-bottom: 5vh;
}
.product-details-row {
	margin-top: 3%;
	max-width: 60%;
}
.half-width {
	width: 50%;
}
#footer {
	margin-top: 4%;
	background-color: #2e2e2e;
	color: #535353;
	font-size: 0.8em;
}
#footer-notice {
	margin-left: 10%;
	margin-right: 5%;
	padding-top: 1%;
}
.test {
	height: 1000px;
}
/* End of our styles. */
.tooltip {
	max-width: 25rem;
}

#to-cart-button {
	color: white;
	background-color: #474747;
	border-color: white;
}
#to-cart-button:hover {
	color: #474747;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #474747;
}

/* --- --- --- End of Foundation overrides. */