<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/css/vendor/foundation.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/foundation-icons.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <!-- Navigation bar. -->
    <div data-sticky-container>
        <div data-sticky data-options="marginTop: 0">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li>
                            <a href="#" class="menu-text">Gazebo</a>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li>
                            <a href="#" data-open="login-modal" class="button">Prisijungti</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End of navigation bar. -->


    <!-- Login form modal. -->
    <div id="login-modal" class="reveal"
         data-reveal
         data-animation-in="fade-in fast"
         data-animation-out="fade-out fast">
        <div class="row">
            <div class="columns small-8 small-offset-2">
                <h4 id="modalTitle"><b>Prisijungimas</b></h4>
                <br>
                <div class="row">
                    <div class="columns">
                        <label class="gz-input-label">El. paštas
                            <i class="fi-torso"></i>
                            <input id="login-email" type="text">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="gz-input-label">Slaptažodis
                            <span><i class="fi-lock"></i></span>
                            <input id="login-password" type="text">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <button class="button success expanded">Prisijungti</button>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-6 small-offset-6 small-collapse">
                        <p class="text-right">
                            <a class="gz-hyperlink" href="#">Pamiršote slaptažodį?</a>
                        </p>
                    </div>
                </div>

                <hr class="gz-no-top-margin">

                <div class="row">
                    <div class="columns">
                        <button class="button secondary expanded hollow">Registruotis</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="close-button" data-close type="button">
            <span>&times;</span>
        </button>
    </div> <!-- End of login form modal. -->


    <div id="app">
        <single-file-component></single-file-component>
        <ul>
            <li v-for="testd in testdata">
                <p>{{testd}}</p>
            </li>
        </ul>
    </div>


    <script th:src="@{/js/vendor/vue.js}"></script>
    <script th:src="@{/js/vendor/axios.min.js}"></script>
    <script type="module" th:src="@{/src/components/SingleFileComponent.js}"></script>
    <script type="module" th:src="@{/src/app.js}"></script>

    <script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/vendor/what-input.js}"></script>
    <script th:src="@{/js/vendor/foundation.js}"></script>
    <script th:src="@{/js/foundation-app.js}"></script>
</body>
</html>